@import url("zeros.css");
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.game {
  min-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.5px black solid;
}
.game__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.game__item {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(13, 0, 255, 0.7);
  border: 0.5px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.508) inset;
          box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.508) inset;
}
.game__item:hover {
  background-color: rgba(13, 0, 255, 0.5);
}
.game__item * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  font-size: 170%;
  text-align: center;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  opacity: 0;
}
.game__item__void {
  background-color: #aaaaaa;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.game__item__void:hover {
  background-color: #aaaaaa;
}
.game__item__losed {
  background-image: url(../images/mine.png);
  background-size: cover;
}
.game__item__losed-click {
  background-image: url(../images/mine.png), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0.5)), to(rgba(255, 0, 0, 0.5)));
  background-image: url(../images/mine.png), linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5));
  background-size: cover;
}
.game__item__minned {
  background-image: url(../images/flag.png);
  background-size: cover;
}
.game__item__error {
  background-image: url(../images/error.png), url(../images/flag.png), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0.3)), to(rgba(255, 0, 0, 0.3)));
  background-image: url(../images/error.png), url(../images/flag.png), linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3));
  background-size: cover;
}
.game__item__1 {
  background-color: #aaaaaa;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 255, 0.508) inset;
          box-shadow: 0 0 7px 2px rgba(0, 0, 255, 0.508) inset;
}
.game__item__1:hover {
  background-color: #aaaaaa;
}
.game__item__1 * {
  color: blue;
}
.game__item__2 {
  background-color: #aaaaaa;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 128, 0, 0.508) inset;
          box-shadow: 0 0 7px 2px rgba(0, 128, 0, 0.508) inset;
}
.game__item__2:hover {
  background-color: #aaaaaa;
}
.game__item__2 * {
  color: green;
}
.game__item__3 {
  background-color: #aaaaaa;
  -webkit-box-shadow: 0 0 7px 2px rgba(186, 0, 0, 0.508) inset;
          box-shadow: 0 0 7px 2px rgba(186, 0, 0, 0.508) inset;
}
.game__item__3:hover {
  background-color: #aaaaaa;
}
.game__item__3 * {
  color: #ba0000;
}
.game__item__4 {
  background-color: #aaaaaa;
  -webkit-box-shadow: 0 0 7px 2px rgba(20, 0, 146, 0.508) inset;
          box-shadow: 0 0 7px 2px rgba(20, 0, 146, 0.508) inset;
}
.game__item__4:hover {
  background-color: #aaaaaa;
}
.game__item__4 * {
  color: #140092;
}
.game__item__5 {
  background-color: #aaaaaa;
  -webkit-box-shadow: 0 0 7px 2px rgba(128, 0, 0, 0.508) inset;
          box-shadow: 0 0 7px 2px rgba(128, 0, 0, 0.508) inset;
}
.game__item__5:hover {
  background-color: #aaaaaa;
}
.game__item__5 * {
  color: #800000;
}
.game__item__6 {
  background-color: #aaaaaa;
  -webkit-box-shadow: 0 0 7px 2px rgba(32, 178, 170, 0.508) inset;
          box-shadow: 0 0 7px 2px rgba(32, 178, 170, 0.508) inset;
}
.game__item__6:hover {
  background-color: #aaaaaa;
}
.game__item__6 * {
  color: #20B2AA;
}
.game__item__7 {
  background-color: #aaaaaa;
  -webkit-box-shadow: 0 0 7px 2px rgba(126, 0, 0, 0.508) inset;
          box-shadow: 0 0 7px 2px rgba(126, 0, 0, 0.508) inset;
}
.game__item__7:hover {
  background-color: #aaaaaa;
}
.game__item__7 * {
  color: #7e0000;
}
.game__item__8 {
  background-color: #aaaaaa;
  -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.508) inset;
          box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.508) inset;
}
.game__item__8:hover {
  background-color: #aaaaaa;
}
.game__item__8 * {
  color: black;
}

#restart {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 20px;
  padding: 5px;
}

#loseText, #winText {
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.mines-counter {
  font-size: 25px;
}